version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: authkit
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - '5433:5432'
    volumes:
      - db_data:/var/lib/postgresql/data
    command: postgres -c shared_preload_libraries='pg_stat_statements' -c pg_stat_statements.track=all
  app:
    build: .
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/authkit
      - JWT_SECRET=your-access-token-secret
      - JWT_REFRESH_SECRET=your-refresh-token-secret
      - CORS_ORIGIN=http://localhost:3000
    ports:
      - '3000:3000'
    depends_on:
      - db
volumes:
  db_data:
